.generate-node {
    background-color: #FFE0E8;
    height: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #90599E;
}

.generate-node > label {
    color: #90599E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-flow__handle.target, .react-flow__handle.source {
    top: 50%;
    pointer-events: none;
    opacity: 0;
}
