.about__tutorial {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.about__tutorial--left-view {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: justify;
    padding: 20px;
    color: #FAFA33;
}

ul {
    list-style-type: '🔔 ';
}


.mode {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--main-green);
    margin: 0
}

.nodes-illustration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.nodes-img {
    width: 275px;
    height: 200px;
    margin-top: 20px;
    border-radius: 15%;
}

.img-note {
    margin: 0;
    text-align: center;
}

.about__tutorial--right-view {
    background: #8ac8e7;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 0px 30px #C3DAF5;
    border-radius: 25% 0px 0px 25%;
}